<div class="modal" id="confirmModal" role="dialog"
	aria-Labelledby="confirmModalLabel">
	<div class="modal-dialog modal-chico">
		<div class="modal-content">
			<div class="modal-header dialog-header-warning">
				<button type="button" class="close" ng-click="no()">&times;</button>
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-warning-sign"></span>&nbsp;&nbsp;{{header}}
				</h4>
			</div>
			<div class="modal-body text-warning" ng-bind="msg"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="yes()" focus-me="true">Sí</button>
				<button type="button" class="btn btn-primary" ng-click="no()">No</button>
			</div>
		</div>
	</div>
</div>