<div class="modal" id="notifyModal" role="dialog"
	aria-Labelledby="notifyModalLabel">
	<div class="modal-dialog modal-chico">
		<div class="modal-content">
			<div class="modal-header dialog-header-warning">
				<button type="button" class="close" ng-click="close()"
					class="pull-right">&times;</button>
				<h4 class="modal-title">
					<!-- <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;{{header}} -->
					<span class="glyphicon  glyphicon-warning-sign"></span>&nbsp;&nbsp;{{header}}

				</h4>
			</div>
			<div class="modal-body text-warning" ng-bind="msg"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="close()" focus-me="true">OK</button>
			</div>
		</div>
	</div>
</div>